{{ $uniqueID := printf "toggle-%v" now.UnixNano }}
<div class="toggle-section" style="margin: 10px 0;">
<a href="#" id="{{ $uniqueID }}-button" class="button mb-proof" onclick="toggleContent(event, '{{ $uniqueID }}', '{{ .Get `showText` }}', '{{ .Get `hideText` }}')">{{ .Get "showText" }}</a>
<div id="{{ $uniqueID }}" class="toggle-content" style="display: none; padding: 10px; margin-top: 10px;">{{ markdownify .Inner }}</div>
</div>
<script>
    function toggleContent(event, id, showText, hideText) {
        event.preventDefault();
        var content = document.getElementById(id);
        var button = document.getElementById(id + '-button');
        if (content.style.display === "none") {
            content.style.display = "block";
            button.innerHTML = hideText;
        } else {
            content.style.display = "none";
            button.innerHTML = showText;
        }
    }
</script>
